@charset = "UTF-8";

	body {
		background: #edf0f1;
		padding: 80px 0 0 0;
	}
	
	body, input, button {
		font-family: 'Roboto', sans-serif;
	}

	.noFill {
		fill: none;
	}

	header {
		width: 100%;
		height: 80px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
		padding: 15px;
		background: #25b99a;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
	}

	header input {
		width: 100%;
		height: 50px;
		background: rgba(255, 255, 255, 0.2);
		float: left;
		color: #fff;
		border-top-left-radius: 5px;
		font-size: 15px;
		font-weight: 400;
		padding: 0 60px 0 0;
		text-indent: 18px;
		bottom: 5px;
		border: 0px;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		box-shadow: none;

		-webkit-appearence: none;
		-moz-appearence: none;
		-ms-appearence: none;
		-o-appearence: none;
		appearence: none;
	}

	header input::-webkit-input-placeholder {
		color: rgba(255, 255, 255, 0.75);
	}

	header input:-moz-input-placeholder {
		color: rgba(255, 255, 255, 0.75);
	}

	header input::-moz-input-placeholder {
		color: rgba(255, 255, 255, 0.75);
	}

	header input:-ms-input-placeholder {
		color: rgba(255, 255, 255, 0.75);
	}

	header button {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 2;
		border-radius: 25px;
		background: #fff;
		cursor: pointer;
		border: 0px;
		box-shadow: none;
		outline: none;

		-webkit-appearence: none;
		-moz-appearence: none;
		-ms-appearence: none;
		-o-appearence: none;
		appearence: none;
	}

	header button svg {
		width:16px;
		height: 16px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -8px 0 0 -8px;
	}

	header button svg .fill {
		fill: #25b99a;
	}

	.container {
		width: 100%;
		float: left;
		padding: 15px;
	}

	ul.todo {
		width: 100%;
		float: left;

	}

	ul.todo li {
		width: 100%;
		min-height: 50px;
		float: left;
		background: #fff;
		position: relative;
		font-size: 14px;
		font-weight: 500;
		color: #444;
		line-height: 22px;

		border-radius: 5px;
		box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
		margin: 0 0 10px 0;
		padding: 14px 100px 14px 14px;
	}

	ul.todo li:last-of-type {
		margin: 0;
	}

	ul.todo li .buttons {
		width: 100px;
		height: 50px;

		position: absolute;
		top: 0;
		right: 0;
	}

	ul.todo li .buttons button{
		width: 50px;
		height: 50px;
		float: left;
		background: none;
		border: 0px;
		position: relative;
		box-shadow: none;
		outline: none;
		cursor: pointer;

		-webkit-appearence: none;
		-moz-appearence: none;
		-ms-appearence: none;
		-o-appearence: none;
		appearence: none;
	}

	ul.todo li .buttons button svg {
		width: 22px;
		height: 22px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -11px 0 0 -11px;
	}

	ul.todo li .buttons button.complete svg {
		border-radius: 11px;
		border: 1.5px solid #25b99a;
		-webkit-transition:background 0.4s ease;
		-moz-transition:background 0.4s ease;
		-ms-transition:background 0.4s ease;
		-o-transition:background 0.4s ease;
		transition:background 0.4s ease;
	}

	ul.todo#completed li .buttons button.complete svg {
		background: #25b99a;
		border: 0px;
	}

	ul.todo:not(#completed) li .buttons button.complete:hover svg {
		background: rgba(37, 185, 154, 0.75);
	}

	ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
		fill: #fff;
	}

	ul.todo#completed li .buttons button.complete svg .fill{
		fill: #fff;
	}

	ul.todo li .buttons button svg .fill {
		-webkit-transition:fill 0.4s ease;
		-moz-transition:fill 0.4s ease;
		-ms-transition:fill 0.4s ease;
		-o-transition:fill 0.4s ease;
		transition:fill 0.4s ease;
	}

	ul.todo li .buttons button.remove svg .fill {
		fill: #c0cecb;

	}

	ul.todo li .buttons button.remove:hover svg .fill {
		fill: #e85656;
	}

	ul.todo li .buttons button.complete svg .fill {
		fill: #25b99a;

	}

	ul.todo#completed:not(:empty) {
		position: relative;
		padding: 60px 0 0 0;
	}

	ul.todo#completed:not(:empty):before {
		width: 15px;
		height:  1px;
		background: #d8e5e0;
		position: absolute;
		top: 30;
		left: 50%;
		margin: 0 0 0 -75px;
	}